.tabs {
  position: relative;
  overflow: hidden; }
  .tabs > .row {
    width: calc(100% + 2 * .6em);
    display: table;
    table-layout: fixed;
    margin-left: -0.6em;
    margin-bottom: 0.6em;
    position: relative;
    padding-left: 0;
    
    border-spacing: 0;
    margin: 0.6em 0; }
    .tabs > .row:before, .tabs > .row:after {
      display: none; }
    .tabs > .row > *, .tabs > .row img {
      display: table-cell;
      vertical-align: top;
      margin: 0;
      width: 100%; }
  .tabs > input {
    display: none; }
    .tabs > input + * {
      width: 100%; }
    .tabs > input + label {
      width: auto; }
  .tabs.two .row {
    width: 200%;
    left: -100%; }
  .tabs.two input:nth-of-type(1):checked ~ .row {
    margin-left: 100%; }
  .tabs.three .row {
    width: 300%;
    left: -200%; }
  .tabs.three input:nth-of-type(1):checked ~ .row {
    margin-left: 200%; }
  .tabs.three input:nth-of-type(2):checked ~ .row {
    margin-left: 100%; }
  .tabs.four .row {
    width: 400%;
    left: -300%; }
  .tabs.four input:nth-of-type(1):checked ~ .row {
    margin-left: 300%; }
  .tabs.four input:nth-of-type(2):checked ~ .row {
    margin-left: 200%; }
  .tabs.four input:nth-of-type(3):checked ~ .row {
    margin-left: 100%; }