/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
             position: relative;
             display: inline-block;
             padding:  0px 15px 15px;
             border: 1px solid transparent;
             border-bottom: 0;
             cursor: pointer;
             font-weight: 600;
         }
         .tabset > label::after {
             content: "";
             position: absolute;
             left: 15px;
             bottom: 20px;
             width: 90%;
             height: 4px;
             background: white;
         }
         .tabset > label:hover,
         .tabset > input:focus + label {
             color: #9e3671;
         }
         .tabset > label:hover::after,
         .tabset > input:focus + label::after,
         .tabset > input:checked + label::after {
             background: #9e3671;
         }

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 2.125em;
  line-height: 1.2em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  /*font-weight: normal;*/
  padding: 15px;
  background: #e8e8e8;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
 /* font-size: .58em;*/
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}

#hr {background-color: black; height: 15px;}
